*{
    padding: 8px;
    margin: 5px;
    font-family: 'Metropolis-Regular', "Segoe UI", Helvetica Neue, Helvetica, sans-serif;
}
.loginSection, .loginHeader, .submitButton, .errorDisplay{
    position: relative;
}
.loginSection, .loginHeader, .submitButton, .loginText, .errorDisplay{
    width: fit-content;
}
.loginSection{
    left: 34%;
    border: 3px solid cadetblue;
    border-radius: 20px;
    background-color: aliceblue;
}
.loginHeader{
    left: 30%;
}
.submitButton{
    left: 32%;
}
.loginText, .labelField{
    color: cadetblue;
}
.loginText{
    font-size: 35px;
}
.inputField{
    border: 1px solid cadetblue;
    outline: none;
}
.submitButton input{
    padding: 7px 17px;
    border: 1px solid cadetblue;
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 4px;
}
.errorDisplay{
    left: 15%;
    color: red;
}
