*{
    padding: 0;
    margin: 0;
    
}
body{
    margin: 17px 0 15px 0;
    font-size: small;
    background-color: #669900;
}
.logo{
    background-color: #99cc00;
    width:640px;
    height:80px;
}
.logo img{
    width:160px;
    height:80px;
}
.container{
    margin: 0 auto 10px auto;
    width:640px;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    border: 0 solid #cccccc;
}
.formSection{
    margin: 20px 14px 0 14px;
    font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
    letter-spacing: .01em;
}
.formName{
    font-size: 20.8px;
}
.subTitle{
    font-size: 12.35px;
}
.formHeader{
    padding: 0 1% 1.1em 1%;
    margin: 0 0 5px 0;
}
.borderBtm{
    border-bottom: 1px dotted #CCCCCC;
}
.positionQuery, .radioValue{
    color: #444444;
}
.positionQuery{
    font-size: 12.35px;
    font-weight: 700;
    padding: 0 0 3px 0;
}
.selectJobRole{
    width: 196px;
    
}
.jobHeader, .relocationQuery{
    padding: 6px 1% 9px 1%;
}
.jobHeader{
    width: 368px;
    
}
.requiredIcon{
    color:#FF0000;
}
.radioValue{
    position: relative;
    bottom: 2px;
    left: 8px;
}
.calenderBox{
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
}
.boxStyle{
    width: 23px;
}
.lastBoxStyle{
    width: 39px;
}
.boxStyle, .lastBoxStyle {
    height: 24px;
}
.dateBox{
    display: flex;
    flex-direction: column;
}
.dateSection{
    display: flex;
}
.calenderIcon{
    position: relative;
    top: 6px;
}
.dollarBoxStyle{
    width: 85px;
}
.fnameBoxStyle, .dollarBoxStyle, .lnameBoxStyle, .emailBoxStyle{
    height: 26px;
}
.fnameBoxStyle{
    width: 68px;
}
.lnameBoxStyle{
    width: 116px;
    margin-left: 4px;
}
.emailBoxStyle{
    width: 393.67px;
}
.phnBoxStyle, .lastPhnBoxStyle{
    height: 26px;
}
.phnBoxStyle{
    width: 27px;
}
.lastPhnBoxStyle{
    width: 35px;
}
.phnStyle, .lastPhnStyle{
    margin-right: 7px;
}
.phnStyle, .lastPhnStyle{
    height: 26px;
}
.phnStyle{
    width:27px;
}
.lastPhnStyle{
    width:35px;
}
.hashSymbolFirst{
    margin-left: 2px;
}
.hashSymbolMid, .hashSymbolLast{
    margin-left: 14px;   
}
.hipenIconLeft, .hipenIconRight{
    position: relative;
    font-size: 16px;
}
.hipenIconLeft{
    right: 3px;
}
.hipenIconRight{
    right: 4px;
}
.lastName{
    margin-left: 5px;
}
.submitBtn{
    padding: 0 7px;
    font-size: medium;
}
.footerText{
    font-family: National\ 2, sans-serif;
    padding:20px 30px;
    font-size:14px;
    color:#7E7E7E;
}
.linkText{
    color:#007FAA;
}
.errorHeader{
    border: 1px solid red;
    border-radius: 20px;
    margin: 15px auto 15px auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    height: 75px;
}

.errorTextMain{
    color: #DF0000;
    font-size: 16.25px;
    margin: 0px 0px 5px;
}
.errorTextsub{
    color: #000000;
    font-size: 13px;
    margin: 0px 0px 2px;
}
.highlightText{
    color: #FF0000;
    background-color: #FFDFDF;
    padding: 2px 8px;
    border-radius: 9px;
    margin-right: 5px;
}
.errorHeaderText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}
.errorColor{
    color: red;
}