#sunday{
    color: red;
}
#monday{
    color: green;
} 
#tuesday{
    color: orange ;
}
#wednesday{
    color: yellow;
}
#thursday{
    color: bold black;
}
#friday{
    color: blue;
}
#saturday{
    color: rgb(92, 3, 3);
}

